.cardContainer {
  width: 100%;
  height: auto;
  
}

.imageHolder {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.imageHolder img {
  object-fit: cover;
}


.cardContainer img {
  border-radius: 8px 8px 0 0;
}

.precoContainer {
  display: flex;
  margin: 0;
  background-color: black; 
  justify-content: flex-end;
  padding: 0.5rem 0;
  border-radius: 0 0 8px 8px;
  height: 68px;
}

.free {
 padding-right: 1rem;
}