.header {
  /* box-shadow: 0px 1px 1px rgba(0,0,0,0.1); */
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #150239;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  max-width: 100%;
}

.headerMenu {
  display: flex;
  gap: 2rem;
}

.headerMenu :global(a.active) {
  color: #742AFC;
}

.headerMenu a::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFF;
  align-items: center;
  position: relative;
  left: -1rem;
  top: -4px;
  border-radius: 16px;
}

.headerMenu a:first-child::before {
  content: none;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--type_logo);
  font-size: 2rem;
  gap: 1rem;
}

.logo::before {
  content: '';
  display: inline-block;
  width: 74px;
  height: 74px;
  background: url('/assets/robot.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -0.75rem;
}

.login {
  align-self: right;
}

.login a {
  color: #742AFC;
  border: 2px solid #742AFC;
  padding: 8px;
  border-radius: 10px;
}