.footer {
  /* position: absolute; */
  width: 100%;
  padding: 1rem 0;
  background: #150239;
  color: white;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.footerContent h1 {
  font-family: var(--type_logo);
  font-weight: 100;
}

.footerContent img {
  width: 3rem;
  height: 3rem;
}

.footerContainer {
  max-width: 50rem;
  padding: 0 auto;
  margin: auto;
}