.footer {
  width: 100%;
  padding: 1rem 0;
  background: #150239;
  color: white;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

.footerContent h1 {
  font-family: var(--type_logo);
  font-weight: 100;
}

.footerContent img {
  width: 3rem;
  height: 3rem;
}

.footerContainer {
  max-width: 50rem;
  padding: 0 auto;
  margin: auto;
}

.mobileAbsolute {
  transform: scale(0.75);
  display: flex;
  position: relative;
  gap: 8rem;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 416px) {
  .footerContainer{
    max-width: 90%;
  }
  .footerContent > p{
    font-size: 0.9rem;
  }
  .footerContent > h1{
    font-size: 1rem;
  }
}