.title {
  display: block;
  text-align: center;
  padding: 2rem 2rem;
}

.carrossel {
  display: flex;
  gap: 2rem;
}

.carrossel::before {
  content: '';
  display: inline-block;
  width: 55px;
  height: 79px;
  /* background: url('/assets/ArrowLeft.svg') no-repeat center center; */
  margin-left: 0.5rem;
  position: relative;
  top: -1rem;
}

.carrossel::after {
  content: '';
  display: inline-block;
  width: 55px;
  height: 79px;
  /* background: url('/assets/ArrowRight.svg') no-repeat center center; */
  margin-left: 0.5rem;
  position: relative;
  top: -1rem;
}

.carrosselConteudo {
  display: flex;
}

.descricao {
  background: #150239;
}